<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tarificator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



</head>
<body>

<h2>Devis assurance auto</h2>

<div class="row">
 <div class="col-75">
  <div class="container">

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
        <div class="row">
         <div class="col-50">
            <h3>Colonne 1</h3>
        	<label for="PERMIS">Ancienneté du permis (en mois)</label> 
        	<input id="PERMIS" type="number" name="PERMIS" placeholder="Ancienneté du permis (en mois)" required="required" value= "50" min="0" max="1200" />
        	
        	<label for="ACV">Ancienneté du véhicule (en années)</label>
            <input id="ACV" type="number" name="ACV" placeholder="Ancienneté du véhicule (en années)" required="required" value="15" min="0" max="10" />
            
            <label for="SEX">Sexe du conducteur</label>
            <select id="SEX" name="SEX">
                <option value="M">Homme</option>
                <option value="F">Femme</option>
            </select> 
            
            <label for="STATUT">Statut matrimonial</label>
            <select id="STATUT" name="STATUT">
                <option value="C">Célibataire</option>
                <option value="A">Autre</option>
            </select> 
            
            <label for="CSP">Catégorie socio-professionnelle</label>
            <select id="CSP" name="CSP">
                <option value="1">Agriculteur exploitant</option>
                <option value="2">Artisan, commerçant ou chef d'entreprise</option>
                <option value="3">Cadre ou profession intellectuelle supérieure</option>
                <option value="4">Profession intermédiaire</option>
                <option value="5">Employé ou ouvrier</option>
                <option value="6">Retraité</option>
                <option value="7">Sans emploi ou étudiant</option>
            </select> 
            
            <label for="USAGE">Utilisation du véhicule</label>
            <select id="USAGE" name="USAGE">
                <option value="1">Privé</option>
                <option value="2">Privé - Trajet</option>
                <option value="3">Professionnel</option>
                <option value="4">Tournées</option>
            </select> 
            
            <label for="AGECOND">Age du conducteur</label>
            <input id="AGECOND" type="number" name="AGECOND" placeholder="Age du conducteur" required="required" />
            
            <label for="K8000">Option kilométrage limité (8000km)</label>
            <select id="K8000" name="K8000">
                <option value="O">Oui</option>
                <option value="N">Non</option>
            </select>  
         </div>
        
         <div class="col-50">
            <h3>Colonne 2</h3>
            <label for="RM">Bonus - Malus (de 50 % à 350 %)</label>
            <input id="RM" type="number" name="RM" placeholder="Bonus - Malus" required="required" value="100" min="50" max="350" />
    
            <label for="CAR">Type de véhicule</label>
            <select id="CAR" name="CAR">
                <option value="BER">Berline</option>
                <option value="BRK">Break</option>
                <option value="BUS">Bus</option>
                <option value="CAB">Cabriolet</option>
                <option value="CPE">Coupé</option>
                <option value="CTE">Camionette</option>
                <option value="MSPF">Monospace - Formule</option>
                <option value="MSPHF">Monospace - Hors formule</option>
                <option value="TT">Tout-terrain</option>
            </select> 
    
            <label for="CLA">Classe SRA du véhicule (optionnel, entier entre 0 et 25)</label>
            <input id="CLA" type="number" name="CLA" placeholder="Classe SRA" value="5" />
            
            <label for="ALI">Type d'alimentation du véhicule</label>
            <select id="ALI" name="ALI">
                <option value="CAR">Carburateur</option>
                <option value="ELC">Electrique</option>
                <option value="INJ">Injection</option>    
                <option value="INS">Injection suralimentée</option>
                <option value="IDS">Injection directe suralimentée</option>
            </select> 
            
            <label for="ENE">Type d'énergie du véhicule</label>
            <select id="ENE" name="ENE">
                <option value="EL">Electrique</option>
                <option value="ES">Essence</option>
                <option value="GO">Gasoil</option>
            </select> 
            
            <label for="VIT">Vitesse maximum du véhicule</label>
            <select id="VIT" name="VIT">
                <option value="0">130</option>
                <option value="1">140</option>
                <option value="2">150</option>
                <option value="3">160</option>
                <option value="4">170</option>
                <option value="5">180</option>
                <option value="6">190</option>
                <option value="7">200</option>
                <option value="8">220</option>
                <option value="9">+220</option>
            </select> 
            
            <label for="SEGM">Segment du véhicule </label>
            <select id="SEGM" name="SEGM">
                <option value="0">Non renseigné</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="H">H</option>
                <option value="M1">M1</option>
                <option value="M2">M2</option>
            </select> 
    
            <label for="GARAGE">Type de garage</label>
            <select id="GARAGE" name="GARAGE">
                <option value="1">Individuel clos</option>
                <option value="2">Clos collectif</option>
                <option value="3">Autre</option>
            </select> 
        </div>
        </div>
        
        <button type="submit" class="btn">Calculer mon tarif personnalisé</button>
    
    
    <!--Bouton pour remplir rapidement le formulaire-->
    <button type="button" class="btn" onclick="RemplissageAuto()">Remplissage automatique</button>

    <script>
    function RemplissageAuto() 
    {
    document.getElementById("PERMIS").value = "38";
    document.getElementById("ACV").value = "10";
    document.getElementById("AGECOND").value = "40";
    document.getElementById("RM").value = "100";
    }
    </script>
   <br>
   <br>
  
   
   </form>
  </div> 
 </div>
 
 <div class="col-25">
    <div class="container">
      <h4> {{ prediction_text }}</h4>
    </div>
  </div>
</div>
</body>
</html>
